.navigation{
    border-bottom: 1px solid var(--color);
    display: block;
    width: 100%;
}

.navigation_ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.navigation_li{
    display: block;
}

.navigation_link{
    padding: var(--space-m) var(--space-l);
    text-decoration: none;
    display: block;
}

.navigation_link:hover{
    background:var(--color);
}
