.modulea {

}

.modulea_list {
	display: grid;
	grid-gap: 14px;
	grid-template-areas: "wideblockone wideblockone midblockone" 
						 "wideblockone wideblockone midblockone"
						 "storyblockone storyblocktwo storyblockthree";
}

.modulea {
	article:nth-child(1) {
		grid-area: wideblockone;
	}
	article:nth-child(2) {
		grid-area: midblockone;	
	}
	article:nth-child(3) {
		grid-area: storyblockone;	
	}
	article:nth-child(4) {
		grid-area: storyblocktwo;	
	}
	article:nth-child(5) {
		grid-area: storyblockthree;	
	}
}