.updated {

}

.updated_section {
	font: 700 11px/16px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
	a:link {
		color: #323232;
	}
}
.updated_datetime {
	font: 400 11px/16px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
    color: #999;
    margin-left: 4px;
}