:root{
	--space-xl: 1.6rem;
	--space-l:   .8rem;
	--space-m:   .4rem;
	--space-s:   .2rem;
	--space-xs:  .1rem;
	
    --font-family-title: Georgia, sans-serif;
    --font-family-base:  sans-serif;
	--font-family-body:  serif;

	--font-minsize: 16px;
	--font-size-base-l:  .2rem;
	--font-size-base-m:   0rem;
	--font-size-base-s: -.2rem;
	--font-size-title-xl: .8rem;
	--font-size-title-l:  .6rem;
	--font-size-title-m:  .4rem;
	--font-size-title-s:  .2rem;
	--font-size-title-xs: .0rem;
	--font-size-body-l:  .2rem;
	--font-size-body-m:   0rem;
	--font-size-body-s: -.2rem;

	--line-height-base-l: 1.3;
	--line-height-base-m: 1.3;
	--line-height-base-s: 1.3;
	--line-height-title-xl: 1.3;
	--line-height-title-l: 1.3;
	--line-height-title-m: 1.3;
	--line-height-title-s: 1.3;
	--line-height-title-xs: 1.3;
	--line-height-body-l: 1.3;
	--line-height-body-m: 1.3;
	--line-height-body-s: 1.3;

    --color:MEDIUMVIOLETRED;
}
